<div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
        <%# questionハッシュから取り出してリストに表示 %>
        <table class="table mb-5">
          <% @question.each do |question| %>
            <tr>
              <td class="small font-weight-bold"><%= question.finished ? '解決済' : '受付中' %><br>
                  回答<%= question.answer.count %></td>
              <td class="font-weight-bold">
                <%= link_to question.title, question_path(question) %><br>
                <% question.tag_list.each do |tag| %>
                  <small><span class="badge badge badge-secondary"><%= tag %></span></small>
                <% end %>
              </td>
              <td class="small">
                <%= question.user.name %><br>
                <%= time_ago_in_words(question.created_at)+"前" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="tab-pane fade" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
        <table class="table mt-6 mb-5">
          <% @question.each do |question| %>
            <tr>
              <td class="small"><%= question.finished ? '解決済' : '受付中' %><br>
                  回答<%= question.answer.count %></td>
              <td class="font-weight-bold">
                <%= link_to question.title, question_path(question) %><br>
                <% question.tag_list.each do |tag| %>
                  <small><span class="badge badge badge-secondary"><%= tag %></span></small>
                <% end %>
              </td>
              <td class="small">
                <%= question.user.name %><br>
                <%# <td><%= question.created_at.strftime('%Y/%m/%d %H:%M')%>
                <%= time_ago_in_words(question.created_at)+"前" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="tab-pane fade" id="nav-unanswerd" role="tabpanel" aria-labelledby="nav-unanswerd-tab">
        <table class="table mt-6 mb-5">
          <% @question.each do |question| %>
            <tr>
              <td class="small">まだ回答がないよ<%= question.answer.count %></td>
              <td class="font-weight-bold">
                <%= link_to question.title, question_path(question) %><br>
                <% question.tag_list.each do |tag| %>
                  <small><span class="badge badge badge-secondary"><%= tag %></span></small>
                <% end %>
              </td>
              <td class="small">
                <%= question.user.name %><br>
                <%# <td><%= question.created_at.strftime('%Y/%m/%d %H:%M')%>
                <%= time_ago_in_words(question.created_at)+"前" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="tab-pane fade" id="nav-unsolved" role="tabpanel" aria-labelledby="nav-unsolved-tab">
          <table class="table mt-6 mb-5">
          <% @question.each do |question| %>
            <tr>
              <td class="small">まだ解決してないよ<%= question.answer.count %></td>
              <td class="font-weight-bold">
                <%= link_to question.title, question_path(question) %><br>
                <% question.tag_list.each do |tag| %>
                  <small><span class="badge badge badge-secondary"><%= tag %></span></small>
                <% end %>
              </td>
              <td class="small">
                <%= question.user.name %><br>
                <%# <td><%= question.created_at.strftime('%Y/%m/%d %H:%M')%>
                <%= time_ago_in_words(question.created_at)+"前" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="tab-pane fade" id="nav-solved" role="tabpanel" aria-labelledby="nav-solved-tab">
          <table class="table mt-6 mb-5">
          <% @question.each do |question| %>
            <tr>
              <td class="small">解決したよ<%= question.answer.count %></td>
              <td class="font-weight-bold">
                <%= link_to question.title, question_path(question) %><br>
                <% question.tag_list.each do |tag| %>
                  <small><span class="badge badge badge-secondary"><%= tag %></span></small>
                <% end %>
              </td>
              <td class="small">
                <%= question.user.name %><br>
                <%# <td><%= question.created_at.strftime('%Y/%m/%d %H:%M')%>
                <%= time_ago_in_words(question.created_at)+"前" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>