<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
    <%# questionハッシュから取り出してリストに表示 %>
    <table class="table mb-5">
      <% @question.each do |question| %>
        <tr>
          <td class="small font-weight-bold"><%= question.finished ? '解決済' : '受付中' %><br>
            <% if question.answer.count == 0 %>
                回答<span class="text-danger"><%= question.answer.count %></span>
            <% else %>
                回答<%= question.answer.count %>
            <% end %>
          </td>
          <td class="font-weight-bold">
            <%= link_to question.title, question_path(question) %><br>
            <% question.tag_list.each do |tag| %>
              <small><span class="badge badge badge-secondary"><%= tag %></span></small>
            <% end %>
          </td>
          <td class="small">
            <%= question.user.name %><br>
            <%= time_ago_in_words(question.created_at)+"前" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>