<%# bootstrap4でタブを実装 %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab">新着</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab">アクティブ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab">未回答</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab">未解決</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab">注目</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab">解決済</a>
  </li>
</ul>
<%# questionハッシュから取り出してリストに表示 %>
<table class="table mt-5 mb-5">
  <tbody>
    <% @search_question.each do |question| %>
      <tr>
      <td>回答：<%= question.answer.count %>件</td>
      <td><%= link_to question.title, question_path(question) %></td>
      <td><%= question.user.name %></td>
      <%# <td><%= question.created_at.strftime('%Y/%m/%d %H:%M')%>
      <td><%= time_ago_in_words(question.created_at)+"前" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# ページネーションを表示kaminari %>
<%= paginate @question %>

<br>
<%=link_to("questions/new") do %>
<button class="btn btn-secondary btn-lg" >質問する</button> 
<%end%>
