<form>
<%= form_with(model: @question, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :body, "質問本文" %><br>
    <%= f.text_area :body ,placeholder: 'ここに質問したいことを詳しく書いてください。' %>
  </div>
  <%= f.submit %>
<% end %>
</form>