<h4>タイトル</h4>
<p><%= @question.title %></p>
<h4>質問内容</h4>
<p><%= @question.body %></p>
<h4>投稿者</h4>
<p><%= @question.user.name %></p>

<% if @question.user_id == current_user.id %>
<%= link_to("編集", "/questions/#{@question.id}/edit") %>
<%= link_to("削除", "/questions/#{@question.id}", method: :delete, data: {confirm: "本当に削除しますか？"}) %>
<% end %>

<div>
   <%= form_with(model: [@question, @answer], local: true) do |f| %>
    <div>
      <%= f.label :body, "質問に答える" %><br>
      <%= f.text_area :body %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
<hr>
<div>
  <h4>回答</h4>
  <% @question.answer.each do |answer| %>
    <tr>
     <td><%= answer.body %></td>
     <td><%= answer.user.name %></td>
    </tr>
  <% end %>
</div>