<div class="card bg-dark">
  <img src="/assets/cmyk-2768200_1920.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title text-center">Print Pages</h1>
    <p class="card-text text-center d-none d-lg-block">価値ある知識を引き出し合う</p>
    <p class="card-text text-center d-none d-lg-block">PrintPagesには、印刷に関する質問と回答を通して<br>引き出される価値ある知識が集まっています。</p>    
  </div>
</div>

<div class="container">
     <div class="card-header alert-warning">ユーザー情報</div>
       <div class="card-body">
         <p class="card-text">ユーザーネーム：<%= @user.name %></p>
         <p class="card-text">ユーザー：<%= @user.id %></p> 
         <p class="card-text">紹介文：<%= @user.name %>です。よろしく。</p>
        　<% if current_user != nil && @user.id == current_user.id %>
            <p><%= link_to("編集", "/users/#{@user.id}/edit") %></p>
          <% end %>

      <div class="card-header alert-danger">ユーザーランキング</div>
      <div class="card-body">
        <p class="card-text">coming soon・・・</p>
      </div>
    </div>
 
      <div class="card-header alert-primary">新着情報</div>
      <div class="card-body">
        <p class="card-text">ここに新着情報が入ります</p>
      </div>

      <div class="card-header alert-dark">あなたの質問</div>
       <div class="card-body">
         <ul class="list-group list-group-flush">
           <% @user.question.each do |question| %>
             <li class="list-group-item"><%= link_to(question.title, "/questions/#{question.id}") %></li>
           <% end %>
         </ul>
       </div>
</div>