
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-4 p-3 small">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><%= link_to(">運営会社", "https://navyhouse.github.io/official/index", class: "nav-link") %></li>
            <li class="nav-item"><%= link_to(">利用規約", "/questions/new", class: "nav-link") %></li>
            <li class="nav-item"><%= link_to(">個人情報の取扱い", "/questions/new", class: "nav-link") %></li>
            <li class="nav-item"><%= link_to(">個人情報保護方針", "/questions/new", class: "nav-link") %></li>
            <li class="nav-item"><%= link_to(">広告掲載のお問合せ", "/questions/new", class: "nav-link") %></li>
            <li class="nav-item"><%= link_to(">ヘルプ", "/questions/new", class: "nav-link") %></li>
        </ul>
    </div>
</nav>
